@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--primary: #47a8ff;
	--default: #999;
}

* {
	border-radius: 0;
	font-weight: 200;
	font-family: "fira sans", sans-serif;
}

body {
	font-size: 18px;
	color: #ccc;
}

input {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
	border: 0;
	font-family: quicksand, sans-serif;
	font-weight: 200;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 1.7rem;
}

fieldset {
	padding: 15px 20px;
	margin: 0;
	width: auto;

	& section > label {
		padding-right: 10px;
	}

	& section > input {
		float: right;
	}
}

dialog {
	margin: 0 auto;
	border: solid 3px #333;
	box-shadow: 9px 9px 13px #111;
}

button {
	color: black;
	background: var(--primary);
}

.right {
	text-align: right;
}

.default {
	background: var(--default);
}

.primary {
	background: var(--primary);
}

::selection {
	background-color: steelblue; /* cor de fundo da seleção */
	color: whitesmoke; /* cor do texto selecionado */
}

.hover {
	filter: brightness(2);
	cursor: pointer;
	text-shadow: 3px 3px 3px dimgrey;
}

#main a:hover,
#main a:active {
	color: black;
	cursor: pointer;
	font-weight: bolder;
	text-decoration: none;
	background-color: steelblue;
}

a {
	padding: 10px;
}

.page-selected {
	padding: 10px;
	font-weight: bolder;
	border: solid 1px #444;
}

#main {
	width: 800px;
}

#main nav {
	float: right;
	display: flex;
	justify-items: center;

	& a {
		padding: 0 20px;
		border-left: solid 1px grey;
		font-size: 1.2rem;
	}

	& a:first-of-type {
		border: 0;
	}
}

#main {
	box-sizing: unset;
}
