* {
	border-radius: 0;
	font-weight: 200;
	font-family: "fira sans", sans-serif;
}

body {
	color: #eee;
	font-size: 15px !important;
	margin: 20px auto !important;
}

input {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
	border: 0;
	font-family: quicksand, sans-serif;
	font-weight: 200;
}

h1 {
	font-size: 2.5rem !important;
}

h2 {
	font-size: 1.7rem;
}

::selection {
	background-color: steelblue; /* cor de fundo da seleção */
	color: whitesmoke; /* cor do texto selecionado */
}

dialog {
	margin: 0 auto;
	border: solid 3px #333;
	box-shadow: 9px 9px 13px #111;
}

button {
	padding: 5px 10px !important;
	color: var(--inverse) !important;
	background: var(--primary) !important;
	font-weight: 400 !important;
}

fieldset {
	padding: 15px 20px;
	margin: 0;
	width: auto;

	& section > label {
		padding-right: 10px;
	}

	& section > input {
		float: right;
	}
}

a:hover,
a:active {
	color: black;
	cursor: pointer;
	text-decoration: none;
	background-color: var(--primary);
	letter-spacing: 0px;
}
